body {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  min-width: 960px;
  text-transform: uppercase;
  background: #000000 url("../img/barbershop-index-background.jpg") no-repeat center top;
}
h1 {
  font-size: 30px;
  line-height: 42px;
  color: 000000;
  font-weight: 700;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  margin: 0;
}
h2 {
  font-size: 24px;
  line-height: 30px;
  color: 000000;
  font-weight: 700;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
}

.main-header {
  margin-bottom: 60px;
  color: #ffffff;
  background-color: #000000;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}
.main-navigation {
  width: 780px;
  float: left;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}
.main-navigation a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 25px 20px
}
.main-navigation .selected {
  position: relative;
}
.main-navigation .selected:after {
  position: absolute;
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
}
.navigation-logo {
  width: 140px;
  text-align: center;
  float: left;
  margin-right: 0;
  height: 20px;
}
.main-navigation a:hover {
  background-color: #242424;
}
.user-block {
  max-width: 140px;
  float: right;
}
.login-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  padding: 25px 20px;
  padding-left: 50px;
  position: relative;
}
.login-button:before {
  content: "";
  height: 16px;
  width: 18px;
  background: transparent url("../img/barbershop-login-icon.png") no-repeat;
  position: absolute;
  top: 28px;
  left: 20px;
}
.login-button:hover::before {
  background-position: 0 -16px;
}
.login-button:hover {
  background-color: #242424;
}
.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.index-logo img {
  width: 368px;
  height: 204px;
}
.features {
  margin-bottom: 80px;
}
.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}
.features-item:last-child {
  margin-right: 0;
}
.features-name {
  display: block;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 30px;
  padding-bottom: 35px;
  position: relative;
}
.features-name::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  transform: rotate(45deg);
}
.features-item p {
  margin: 10px;
  margin-bottom: 0;
}
.index-content-left-column {
  float: left;
  width: 380px;
}
.index-content-right-column {
  float: right;
  width: 300px;
}
.index-content {
  padding: 50px 80px;
  margin-bottom: 35px;
  color: #000000;
  background: url("../img/barbershop-content-divider.png") no-repeat center,
      #f8f5f2 url("../img/barbershop-content-texture.png");
}
.index-content-title {
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  margin-bottom: 25px;
}
.index-content p {
  margin: 0;
  margin-bottom: 25px;
}
.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;
  list-style: none;
}
.news-preview li {
  margin-bottom: 25px;
}
.news-preview p {
  margin-bottom: 0;
}
.news-preview time {
  text-transform: none;
}
.btn {
  color: #ffffff;
  background-color: #000000;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 10px 33px;
  margin-right: 16px;
  vertical-align: top;
  text-align: center;
}
.btn:hover,
.btn:active {
  background-color: #663d15;
}
.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0,5;
}
.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}
.gallery {
  position: relative;
  height: 260px;
}
.gallery-content {
  height: 164px;
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff;
}
.gallery-content img {
  width: 286px;
  height: 164px;
}
.gallery .btn {
  position: absolute;
  bottom: 0;
  width: 146px;
  margin: 0;
}
.gallery-prev {
  left: 0;
}
.gallery-next {
  right: 0;
}
.appointment-form input {
  float: left;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  width: 106px;
  padding: 7px 15px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.appointment-form input:nth-child(2n) {
  margin-right: 0;
}
.appointment-form input:focus {
  border: 2px solid #663d15;
}
.appointment-form .btn {
  clear: both;
  width: 100%;
}
.catalog-content {
  color: #000000;
  background: #f8f5f2 url("../img/barbershop-content-texture.png");
}
.title {
  margin-left: 20px;
  margin-bottom: 30px;
}
.title h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 33px;
}
.breadcrumbs ul {
  list-style: none;
  padding-left: 0;
}
.breadcrumbs li {
  display: inline-block;
  margin-right: 40px;
  position: relative;
}
.breadcrumbs a {
  display: block;
  text-decoration: none;
  color: #000000;
}
.breadcrumbs .current {
  color: #aeacaa;

}
.breadcrumbs li::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  background-color: #000000;
  position: absolute;
  bottom: 50%;
  margin-bottom: -2px;
  right: -25px;
  transform: rotate(45deg);
}
.breadcrumbs li:last-child::after {
  display: none;
}
.manufacturers {
  float: left;
  width: 180px;
  min-height: 570px;
  margin-left: 20px;
}
.manufacturers h2 {
  margin-bottom: 28px;
}
.manufacturers-brands input,
.manufacturers-groups input {
  display: none;
}
.manufacturers label {
  display: block;
  margin-left: 45px;
  padding-bottom: 19px;
  line-height: 18px;
  position: relative;
}
.manufacturers-brands label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -47px;
  top: -3px;
  background: url("../img/barbershop-checkbox.png") no-repeat;
}
.manufacturers-brands input[type=checkbox]:checked+label::before {
  background-position: 0 -20px;
}
.manufacturers-groups label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -47px;
  top: -3px;
  background: url("../img/barbershop-radio-icon.png") no-repeat;
}
.manufacturers-groups input[type=radio]:checked+label::before {
  background-position: 0 -20px;
}
.manufacturers-brands,
.manufacturers-groups {
  margin-bottom: 32px;
}
.manufacturers .btn {
  font-size: 13px;
  width: 112px;
}
.catalog-items {
  float: right;
  width: 700px;
  min-height: 570px;
  font-size: 0;
  margin-left: 60px;
  padding-top: 22px;
}
.catalog-item {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 220px;
  background: #ffffff;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}
.catalog-item:nth-child(3n){
  margin-right: 0;
}
.catalog-item h1 {
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  margin-left: 15px;
  margin-top: 11px;
}
.price-buy {
  display: block;
  margin: 12px 16px;
  font-size: 0;
  vertical-align: top;
}
.price-buy .btn {
  padding: 10px 0;
  margin: 0;
  width: 78px;
  font-size: 14px;
  text-align: center;
}
.price-buy span {
  display: inline-block;
  background-color: #e6e6e6;
  padding: 10px 0;
  margin: 0;
  width: 109px;
  font-size: 14px;
  text-align: center;
}
.catalog-contents {
  font-size: 0;
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
}
.catalog-contents ul {
  padding-left: 0;
}
.catalog-contents li {
  list-style: none;
  display: inline-block;
}
.catalog-contents .btn {
  font-size: 14px;
  padding: 10px 0;
  width: 43px;
  text-align: center;
  margin-right: 7px;
}
.catalog-contents .current-page {
  background-color: #ffffff;
  color: #000000;
}
.item-details {
  padding-top: 42px;
}
.item-images {
  float: left;
  width: 486px;
  font-size: 0;
  padding: 0;
  line-height: 0;
  margin-left: 20px;
  padding-top: 22px;
  margin-bottom: 30px;
}
.item-images img:first-child {
  margin-bottom: 20px;
}
.item-images img {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}
.item-images a:last-child {
  margin-right: 0;
}
.item-details,
.item-contents {
  float: right;
  width: 390px;
}
.item-available {
  margin-bottom: 30px;
}
.item-available span {
  display: inline-block;
}
.item-available span:first-child {
  margin-right: 170px;
}
.item-description {
  line-height: 22px;
  margin-bottom: 45px;
}
.item-details .price-buy {
  margin-left: 0;
  margin-bottom: 45px;
}
.item-contents h2 {
  margin-bottom: 26px;
}
.item-contents ul {
  list-style: none;
  padding-left: 24px;
}
.item-contents li {
  line-height: 22px;
  position: relative;
}
.item-contents li::before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  background-color: #000000;
  position: absolute;
  bottom: 7px;
  left: -20px;
  transform: rotate(45deg);
}
.main-footer {
  /*margin-top: 65px;*/
  padding-top: 60px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525 url("../img/barbershop-footer-texture.png");
}
.footer-index {
  margin-top: 65px;
}
.footer-contacts {
  float: left;
  width: 320px;
  min-height: 90px;
  margin-right: 60px;
}
.footer-contacts a {
  color: #ffffff;
}
.footer-contacts a:hover {
  text-decoration: none;
}
.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}
.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}
.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  background: #000000 url("../img/barbershop-social-icons.png") no-repeat center;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  transition:
    background-position 0.5s;
}
.social-btn-vk {
  background-position: 0 0;
}
.social-btn-vk:hover {
  background-position: 0 -44px;
}
.social-btn-fb {
  background-position: -44px 0;
}
.social-btn-fb:hover {
  background-position: -44px -44px;
}
.social-btn-inst {
  background-position: -86px 0;
}
.social-btn-inst:hover {
  background-position: -86px -44px;
}
.footer-copyright {
  float: right;
  max-width: 180px;
}
.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}
.footer-copyright .btn {
  margin: 0;
}
.footer-copyright .btn:hover {
  background-color: #ffffff;
  color: #000000;
}
